<nav class="container-fluid">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <p class="nav-item nav-link mytext border-round" id="nav-home-tab" data-toggle="tab" role="tab" aria-controls="nav-home" routerLink="/">Home</p>
      <p class="nav-item nav-link mytext" id="nav-profile-tab" data-toggle="tab"  role="tab" aria-controls="nav-profile" routerLink="/blog">Blog</p>
      <p class="nav-item nav-link mytext" id="nav-profile-tab" data-toggle="tab" role="tab" aria-controls="nav-profile" routerLink="/travels">Travels</p>
      <p class="nav-item nav-link mytext pt-3" id="nav-contact-tab" data-toggle="tab" role="tab" aria-controls="nav-contact" routerLink="/cart"><i style="font-size: 2rem;" class="fas fa-shopping-cart float-right"></i></p>
    </div>
  </nav>
