<div id="carsContainer" class="mt-5 container">
  <div id="CarItems" class="row alert d-flex justify-content-center">
    <div class="card divCarItem col-xs-12 col-md-6 col-lg-4 mr-5 mb-5 " *ngFor="let blog of blogs">
      <div class="divCarsImg">
        <img class="card-img-bottom carImg" src="{{blog.img}}" alt="Card image cap">
        <div class="carDetail p-2 bg-light text-dark">
        	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta dolor praesentium at quod autem omnis, amet eaque unde perspiciatis adipisci possimus quam facere illo et quisquam quia earum nesciunt porro.</p>
        </div>
      </div>
    </div>
  </div>
</div>